***
<h1 id="heading"><center><span style="background-color:#5642C5; color:white ; display:fill;border-radius:5px; font-family:cursive"> 1. Data Exploring üìäüî¨</span></center><a class="anchor-link" href="">¬∂</a></h1>
<p><center style="color:#159364; font-family:cursive;">The best way to make yourself extremely valuable in a team is to understand everything, but being a master of something.</center></p>

***

<h3 id="heading"><span style="background-color:#cefffb; color:#1b4946; display:fill;border-radius:5px; font-family:cursive"> üë®‚Äçüíª Description of the author </span></h3>

* Font-Family: Georgia, Verdana, Cursive https://blog.hubspot.com/website/web-safe-html-css-fonts<br>
* Colors Used: ['crimson', 'orange', #5642C5, #62d6cc, #50b5e7, #e7b550] https://htmlcolorcodes.com/fr/<br>
* Emoji Used: [üìö, üìå, üòÉ, üí¨, üéñ, üìé, üèÜ, üó£, üî≠, üåà, üí≠, ‚è≥, üôåüèª]

<div style="color:white;
           display:fill;
           border-radius:5px;
           background-color:#50b5e7;
           font-size:110%;
           font-family:Verdana;
           letter-spacing:0.5px">

<p style="padding: 10px;
              color:white;">
              All that is gold does not glitter,Not all those who wander are lost;The old that is strong does not wither,Deep roots are not reached by the frost.<br>fdsrge
</p>
</div>

<blockquote><p style="font-size:16px; color:#159364; font-family:verdana;">üí¨ Finally, I would like to take this opportunity to remind everyone to be <code>kind</code>, <code>just</code> and <code>mindful</code>üòÉ</p></blockquote>

Social Media Contact:
*  [WebPage](https://eljayiyassir.github.io/Portfolio/)
*  [Github](https://github.com/EljayiYassir)
*  [LinkedIn](https://www.linkedin.com/in/yassir-eljayi/)

<h3 id="heading"><span style="background-color:#cefffb; color:#1b4946 ; display:fill;border-radius:5px; font-family:cursive"> üì• Import packages & data </span></h3>

In [42]:
DATA_PATH = '/home/saitama/projects portfolio/1 Exploratory Data Analysis EDA/Dataset/Airline_review.csv' 
# https://www.kaggle.com/datasets/juhibhojani/airline-reviews

In [2]:
import pandas as pd
import numpy as np
# The below options is useful for displaying multiple line 
pd.options.display.max_rows = None

In [3]:
raw_df = pd.read_csv(DATA_PATH)

<h3 id="heading"><span style="background-color:#cefffb; color:#1b4946 ; display:fill;border-radius:5px; font-family:cursive"> üî¨ Explore Overall data </span></h3>

In [4]:
# What is the shape of the data
raw_df.shape

(23171, 20)

In [5]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23171 entries, 0 to 23170
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              23171 non-null  int64
 1   Airline Name            23171 non-null  object
 2   Overall_Rating          23171 non-null  object
 3   Review_Title            23171 non-null  object
 4   Review Date             23171 non-null  object
 5   Verified                23171 non-null  bool
 6   Review                  23171 non-null  object
 7   Aircraft                7129 non-null   object
 8   Type Of Traveller       19433 non-null  object
 9   Seat Type               22075 non-null  object
 10  Route                   19343 non-null  object
 11  Date Flown              19417 non-null  object
 12  Seat Comfort            19016 non-null  float64
 13  Cabin Staff Service     18911 non-null  float64
 14  Food & Beverages        14500 non-null  float64
 15  Ground Service          18378 non-null  float64
 16  Inflight Entertainment  10829 non-null  float64
 17  Wifi & Connectivity     5920 non-null   float64
 18  Value For Money         22105 non-null  float64
 19  Recommended             23171 non-null  object
dtypes: bool(1), float64(7), int64(1), object(11)
memory usage: 3.4+ MB

<span style="font-family:cursive;
             color:#ff9d91">From the info above we can see two major problems:üë®‚Äçüíª</span>
- [x] We have many missing values from different columns
- [x] We have some columns that need to be integers or floats but insted they have object type (which mean string)

<div style="display:fill;
           border-radius:5px;
           background-color:#ffdbdb;;
           font-family:Georgia;">

<p style="padding: 6px;
          color:#aa0c0c;">
üìå Our target is related to technologie skills and jobs. So, we need to use evry columns that can help us.
</p>
</div>

<u>**Remarque:**</u><br>
* .sample(n) give a "**n**" random sample from the data set but display it as datafram table --> give us a hard readbility when we have lot of column<br>
    - **To do so** we use .iloc[m] to display the "**m+1**" row in the simple and the display are in the below format <br>
* m shoud be small then n

In [25]:
raw_df.sample(1).iloc[0]

Unnamed: 0                                                            21211
Airline Name                                               Turkish Airlines
Overall_Rating                                                            5
Review_Title                               "internet on board is a mission"
Review Date                                                 20th April 2023
Verified                                                               True
Review                      Ok flight but internet on board is a mission...
Aircraft                                                               A330
Type Of Traveller                                                  Business
Seat Type                                                     Economy Class
Route                                                    Jeddah to Istanbul
Date Flown                                                       April 2023
Seat Comfort                                                            2.0
Cabin Staff Service                                                     4.0
Food & Beverages                                                        2.0
Ground Service                                                          3.0
Inflight Entertainment                                                  NaN
Wifi & Connectivity                                                     1.0
Value For Money                                                         2.0
Recommended                                                              no
Name: 21211, dtype: object

In [45]:
raw_df.sample(4).T

,1598,311,9182,2404
Unnamed: 0,1598,311,9182,2404
Airline Name,Air Europa,Aeroflot Russian Airlines,EVA Air,Air Namibia
Overall_Rating,2,1,2,1
Review_Title,"""Disorganized check in and chaotic boarding""","""not provided me with a refund""","""one meal for a five hour flight""","""won‚Äôt recommend it to anyone"""
Review Date,29th July 2022,27th June 2021,26th April 2021,4th March 2020
Verified,True,False,True,True
Review,Chaotic / disorganized boarding. Older male m...,My flight in 2020 was cancelled by Aeroflot ...,A bad experience. I appreciate that Taiwan p...,Windhoek to Johannesburg. When checking in a...
Aircraft,Boeing 787,NaN,NaN,NaN
Type Of Traveller,Business,Couple Leisure,Solo Leisure,Couple Leisure
Seat Type,Business Class,Economy Class,Economy Class,Business Class
Route,Miami to Madrid,Manchester to Tokyo via Moscow,Taipei to Jakarta,Windhoek to Johannesburg
Date Flown,July 2022,July 2020,April 2021,February 2020
Seat Comfort,4.0,NaN,3.0,1.0
Cabin Staff Service,4.0,NaN,1.0,1.0
Food & Beverages,4.0,NaN,1.0,1.0
Ground Service,1.0,NaN,4.0,1.0
Inflight Entertainment,4.0,NaN,3.0,NaN
Wifi & Connectivity,1.0,NaN,NaN,NaN
Value For Money,2.0,1.0,1.0,1.0
Recommended,no,no,no,no

In [35]:
raw_df.columns

Index(['Unnamed: 0', 'Airline Name', 'Overall_Rating', 'Review_Title',
       'Review Date', 'Verified', 'Review', 'Aircraft', 'Type Of Traveller',
       'Seat Type', 'Route', 'Date Flown', 'Seat Comfort',
       'Cabin Staff Service', 'Food & Beverages', 'Ground Service',
       'Inflight Entertainment', 'Wifi & Connectivity', 'Value For Money',
       'Recommended'],
      dtype='object')

In [40]:
new_column_names = {'Unnamed: 0': 'index', 'Airline Name': 'Airline_Name', 'Overall_Rating': 'Overall_Rating'
                   , 'Review_Title': 'Review_Title', 'Seat Type': 'Seat_Type', 'Verified': 'Verified'
                   , 'Review': 'Review', 'Aircraft': 'Aircraft', 'Type Of Traveller': 'Type_Of_Traveller'
                   , 'Seat Type': 'Seat_Type', 'Route': 'Route', 'Date Flow': 'Date_Flow'
                   , 'Seat Comfort': 'Seat_Comfort', 'Cabin Staff Service': 'Cabin_Staff_Service', 'Food & Beverages': 'Food_Beverages'
                   , 'Ground Service': 'Ground_Service', 'Inflight Entertainment': 'Inflight_Entertainment', 'Wifi & Connectivity': 'Wifi_Connectivity'
                   , 'Value For Money': 'Value_For_Money', 'Recommended': 'Recommended'}
column_without_str = ['Overall_Rating', 'Verified', 'Type Of Traveller',
       'Seat Type', 'Seat Comfort',
       'Cabin Staff Service', 'Food & Beverages', 'Ground Service',
       'Inflight Entertainment', 'Wifi & Connectivity', 'Value For Money',
       'Recommended']

In [41]:
for column in column_without_str:
    print(column + '\n')
    print(raw_df[column].unique().tolist())
    print('\n' + '-'*100)

Overall_Rating

['9', '1', '8', '2', '3', '5', '6', '7', '4', 'n']

----------------------------------------------------------------------------------------------------
Verified

[True, False]

----------------------------------------------------------------------------------------------------
Type Of Traveller

['Solo Leisure', 'Couple Leisure', 'Business', 'Family Leisure', nan]

----------------------------------------------------------------------------------------------------
Seat Type

['Economy Class', 'Business Class', nan, 'Premium Economy', 'First Class']

----------------------------------------------------------------------------------------------------
Seat Comfort

[4.0, 2.0, 1.0, 3.0, 5.0, nan, 0.0]

----------------------------------------------------------------------------------------------------
Cabin Staff Service

[5.0, 2.0, 1.0, 4.0, 3.0, nan, 0.0]

----------------------------------------------------------------------------------------------------
Food & Beverages

[4.0, 1.0, nan, 3.0, 2.0, 5.0, 0.0]

----------------------------------------------------------------------------------------------------
Ground Service

[4.0, 1.0, 5.0, 3.0, 2.0, nan]

----------------------------------------------------------------------------------------------------
Inflight Entertainment

[nan, 1.0, 4.0, 5.0, 3.0, 2.0, 0.0]

----------------------------------------------------------------------------------------------------
Wifi & Connectivity

[nan, 1.0, 5.0, 3.0, 4.0, 2.0, 0.0]

----------------------------------------------------------------------------------------------------
Value For Money

[3.0, 2.0, 1.0, 5.0, 4.0, nan, 0.0]

----------------------------------------------------------------------------------------------------
Recommended

['yes', 'no']

----------------------------------------------------------------------------------------------------

In [30]:
COLUMNS_NEED_SPLIT = ["Route"]
COLUMNS_HAVE_PROB  = ["Overall_Rating"]
COLUMNS_TO_USE = COLUMNS_HAVE_PROB + COLUMNS_NEED_SPLIT
COLUMNS_HAS_TIME = ["Review Date ", "Date Flown"]

In [32]:
raw_df.describe()

,Unnamed: 0,Seat Comfort,Cabin Staff Service,Food & Beverages,Ground Service,Inflight Entertainment,Wifi & Connectivity,Value For Money
count,23171.00000,19016.000000,18911.000000,14500.000000,18378.000000,10829.000000,5920.000000,22105.000000
mean,11585.00000,2.618374,2.871609,2.553586,2.353738,2.179056,1.780405,2.451165
std,6689.03588,1.464840,1.604631,1.526314,1.595747,1.488839,1.318800,1.594155
min,0.00000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,5792.50000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,11585.00000,3.000000,3.000000,2.000000,1.000000,2.000000,1.000000,2.000000
75%,17377.50000,4.000000,4.000000,4.000000,4.000000,3.000000,2.000000,4.000000
max,23170.00000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

<h4 id="heading"><span style="background-color:#fcf3b9; color:#3d3710 ; display:fill;border-radius:5px; font-family:Georgia">2. üóÑÔ∏è Columns have problem </span></h4>

In [33]:
for column in COLUMNS_HAVE_PROB:
    print(column + '\n')
    print(raw_df[column].unique().tolist())
    print('\n' + '-'*100)

Overall_Rating

['9', '1', '8', '2', '3', '5', '6', '7', '4', 'n']

----------------------------------------------------------------------------------------------------

<div style="display:fill;
           border-radius:5px;
           background-color:#ffdbdb;;
           font-family:Georgia;">

<p style="padding: 6px;
          color:#aa0c0c;">
üìå <br>We can see that the problem is there are some string in those columns that why we have an object type insted of int or float type!.
</p>
</div>

<p style="padding: 6px;
          color:#11752c;">
üìó <br>
    Change the following value for each column in the "COLUMNS_HAVE_PROB":<br>
    * 'Less than 1 year'<br>
    * 'More than 50 years'<br>
    * 'Younger than 5 years'<br>
    * 'Older than 85'
</p>